@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.margin_lr{
    margin: 0 240px 0 240px;
}

.display_flex{
    display: flex;
}

.text_primary{
    color: #FF900E;
}
/* dark02 */
.text_gray{
    color: #424242;
}
/* dark03 */
.text_light_gray{
    color: #727272;
}
.bg_light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn_primary{
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
   
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}


/* nav styles */
.brand{
    font-weight: 700;
    font-size: 3rem;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav_link{
    text-decoration: none;
}

.nav_item{
    list-style: none;
    margin-right: 30px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner styles */
.banner_content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner_title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner_image{
    width: 100%;
}

/* team and feature styles */
.teams{
    align-items: center;
}

.features_title{
    font-size: 2.8rem;
    font-weight: 700;
    
}

#quick_list{
    font-weight: 500;
}
.team_img_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our_features{
    /* padding: 202px 301px 202px 73px; */
    margin-left: 130px;
    max-width: 530px;
}

.features_description{
    margin-bottom: 32px;
}


/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav_links, 
    .teams{
        flex-direction: column;
    }    
    .team_img_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our_features{
        margin-left: 20px;
    }
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }    
    .our_features{
        margin-left: 50px auto;
    }
}